.popup__close {
  padding: 0;
  position: absolute;
  left: calc(100% + 8px);
  bottom: calc(100% + 8px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1279px) {
  .popup__close {
    width: 20px;
    height: 20px;
    left: unset;
    right: 0;
    bottom: calc(100% + 16px);
  }
}

.popup__close:hover {
  opacity: .4;
}
