.header {
  margin: 45px auto 0;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 28px auto;
    padding-left: 27px;
    padding-bottom: 31.6px;
  }
}


