.unauth__form-input {
  border: none;
  border-bottom: 2px solid #cccccc;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  outline: none;
  color: #fff;
  margin-top: 30px;
  padding-bottom: 13px;
}
